<div class="xpan_player_inner">
	<OBJECT CLASSID="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" CODEBASE="http://www.apple.com/qtactivex/qtplugin.cab" WIDTH="607" HEIGHT="480" >
		<PARAM NAME="src" VALUE="{MP4}">
		<PARAM NAME="autoplay" VALUE="false">
		<PARAM NAME="controller" value="true">
		<EMBED SRC="QTMimeType.pntg" TYPE="image/x-macpaint" PLUGINSPAGE="http://www.apple.com/quicktime/download" QTSRC="{MP4}" WIDTH="607" HEIGHT="480" AUTOPLAY="false" CONTROLLER="true">
		</EMBED>
	</OBJECT>
</div>