<div class="xpan_player_inner">

	<object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' width='640' height='480' id='single{ID}' name='single{ID}'>
	<param name='movie' value='{PATH}/player/mediaplayer/player.swf'>
	<param name='allowfullscreen' value='true'>
	<param name='allowscriptaccess' value='always'>
	<param name='wmode' value='transparent'>
	<param name='flashvars' value='duration={DURATION}&{MP4}&image={THUMB}&mode=Session'>
	<embed
	type='application/x-shockwave-flash'
	id='single2{ID}'
	name='single2{ID}'
	src='{PATH}/player/mediaplayer/player.swf'
	width='640'
	height='480'
	bgcolor='undefined'
	allowscriptaccess='always'
	allowfullscreen='true'
	wmode='transparent'
	flashvars='duration={DURATION}&file={MP4}&image={THUMB}&mode=Session'
	/>
	</object>
	
</div>